@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');

body {
  font-family: 'Quantico', sans-serif;
}

h1 {
  text-align: center;
  font-size: 100px;
}

.dot {
  height: 300px;
  width: 300px;
  border: 5px #cec9d6 solid;
  border-radius: 50%;
  margin: auto;
  box-shadow: 8px 6px 5px #CCCC;
  background-color: #fff679;
}

p {
  position: relative;
  margin-left: 87px;
  margin-top: 65px;
  font-size: 40px;
  border: 4px #8f8e8d solid;
  text-align: center;
  width: 114px;
  border-radius: 25%;
  background-color: #e0ded7;
}

.up {
  font-size: 45px;
  text-decoration: none;
  position: relative;
  bottom: 157px;
  left: 41px;
}

.down {
  font-size: 92px;
  text-decoration: none;
  position: relative;
  bottom: 145px;
  left: 197px;
}

/* .energy {
  font-size: 20px;
  position: relative;
  bottom: 168px;
  margin-left: 87px;
} */

.eco {
  left: 15px;
}

a:visited {
  color: #8f8e8d;
}

button {
  position: relative;
  left: 55px;
  bottom: 100px;
  margin: auto;
  height: 30px;
  border-radius: 20%
}

.low-usage {
  background-color: green;
  font-size: 20px;
  position: relative;
  bottom: 168px;
  margin-left: 87px;
}

.medium-usage {
  background-color: yellow;
  font-size: 20px;
  position: relative;
  bottom: 168px;
  margin-left: 87px;
}

.high-usage {
  background-color: red;
  font-size: 20px;
  position: relative;
  bottom: 168px;
  margin-left: 87px;
}
